.root{
    -fx-background-color: #673d9c;
}

VBox{
    -fx-background-color: #673d9c;
}

.text-field{
    -fx-font-family: "Microsoft JhengHei Light";
    -fx-font-size: 14;
    -fx-padding: 1,1,1,1;
    -fx-border-color: #8ab0c2;
    -fx-border-width: 2;
    -fx-border-radius: 1;
    -fx-border: gone;
    -fx-background-color: transparent;
    -fx-text-fill: #8ab0c2;
    -fx-prompt-text-fill: #8ab0c2;
}

.label{
    -fx-font-family: "Microsoft JhengHei Light";
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-border-width: 2;
    -fx-border-radius: 1;
    -fx-border: gone;
    -fx-background-color: transparent;
    -fx-text-fill: #8ab0c2;
}

.button{
    -fx-font-family: "Microsoft JhengHei Light";
    -fx-font-weight: bold;
    -fx-background-color: #7750a6;
    -fx-background-radius: 22;
    -fx-text-fill: #8ab0c2;
    -fx-font-size: 13;
}
.button:hover{
    -fx-font-family: "Microsoft JhengHei Light";
    -fx-font-weight: bold;
    -fx-background-color: #7463a5;
    -fx-background-radius: 22;
    -fx-text-fill: #8ab0c2;
}
.button:pressed{
    -fx-scale-x: 0.90;
}

.table-view{
    -fx-background-color: transparent;
}
.table-view:focused{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#8c88ba 0%, #8968b4 100%);
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "System";
    -fx-font-size: 13;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-family: "System";
    -fx-font-size: 13;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #8c88ba;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:selected {
    -fx-background-color: #8ab0c2;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #7650A5;
}